[*.cs]

# "Blocker" rules
dotnet_diagnostic.S1048.severity = error
dotnet_diagnostic.S2190.severity = error
dotnet_diagnostic.S2275.severity = error
dotnet_diagnostic.S2857.severity = error
dotnet_diagnostic.S2930.severity = error
dotnet_diagnostic.S2931.severity = error
dotnet_diagnostic.S3464.severity = error
dotnet_diagnostic.S3869.severity = error
dotnet_diagnostic.S3889.severity = error
dotnet_diagnostic.S4159.severity = error
dotnet_diagnostic.S1147.severity = error
dotnet_diagnostic.S2178.severity = error
dotnet_diagnostic.S2187.severity = error
dotnet_diagnostic.S2306.severity = error
dotnet_diagnostic.S2368.severity = error
dotnet_diagnostic.S2387.severity = error
dotnet_diagnostic.S2437.severity = error
dotnet_diagnostic.S2699.severity = error
dotnet_diagnostic.S2953.severity = error
dotnet_diagnostic.S2970.severity = error
dotnet_diagnostic.S3060.severity = error
dotnet_diagnostic.S3237.severity = error
dotnet_diagnostic.S3427.severity = error
dotnet_diagnostic.S3433.severity = error
dotnet_diagnostic.S3443.severity = error
dotnet_diagnostic.S3875.severity = error
dotnet_diagnostic.S3877.severity = error
dotnet_diagnostic.S4462.severity = error
dotnet_diagnostic.S6422.severity = error
dotnet_diagnostic.S6424.severity = error
dotnet_diagnostic.S2068.severity = error
dotnet_diagnostic.S2115.severity = error
dotnet_diagnostic.S2755.severity = error
dotnet_diagnostic.S3884.severity = error
# Copyright and license headers
dotnet_diagnostic.S1451.severity = silent

# "Critical" rules
dotnet_diagnostic.S2222.severity = error
dotnet_diagnostic.S2551.severity = error
dotnet_diagnostic.S2952.severity = error
dotnet_diagnostic.S3449.severity = error
dotnet_diagnostic.S4275.severity = error
dotnet_diagnostic.S4277.severity = error
dotnet_diagnostic.S4583.severity = error
dotnet_diagnostic.S4586.severity = error
dotnet_diagnostic.S5856.severity = error
dotnet_diagnostic.S1006.severity = error
dotnet_diagnostic.S1067.severity = error
dotnet_diagnostic.S1163.severity = error
dotnet_diagnostic.S1186.severity = error
dotnet_diagnostic.S121.severity = error
dotnet_diagnostic.S1215.severity = error
dotnet_diagnostic.S126.severity = error
dotnet_diagnostic.S131.severity = error
dotnet_diagnostic.S134.severity = error
dotnet_diagnostic.S1541.severity = error
dotnet_diagnostic.S1699.severity = error
dotnet_diagnostic.S1821.severity = error
dotnet_diagnostic.S1944.severity = error
dotnet_diagnostic.S1994.severity = error
dotnet_diagnostic.S2197.severity = error
dotnet_diagnostic.S2198.severity = error
dotnet_diagnostic.S2223.severity = error
dotnet_diagnostic.S2290.severity = error
dotnet_diagnostic.S2291.severity = error
dotnet_diagnostic.S2302.severity = error
dotnet_diagnostic.S2330.severity = error
dotnet_diagnostic.S2339.severity = error
dotnet_diagnostic.S2346.severity = error
dotnet_diagnostic.S2360.severity = error
dotnet_diagnostic.S2365.severity = error
dotnet_diagnostic.S2479.severity = error
dotnet_diagnostic.S2692.severity = error
dotnet_diagnostic.S2696.severity = error
dotnet_diagnostic.S2701.severity = error
dotnet_diagnostic.S3215.severity = error
dotnet_diagnostic.S3216.severity = error
dotnet_diagnostic.S3217.severity = error
dotnet_diagnostic.S3218.severity = error
dotnet_diagnostic.S3265.severity = error
dotnet_diagnostic.S3353.severity = error
dotnet_diagnostic.S3447.severity = error
dotnet_diagnostic.S3451.severity = error
dotnet_diagnostic.S3600.severity = error
dotnet_diagnostic.S3776.severity = error
dotnet_diagnostic.S3871.severity = error
dotnet_diagnostic.S3874.severity = error
dotnet_diagnostic.S3904.severity = error
dotnet_diagnostic.S3937.severity = error
dotnet_diagnostic.S3972.severity = error
dotnet_diagnostic.S3973.severity = error
dotnet_diagnostic.S3998.severity = error
dotnet_diagnostic.S4000.severity = error
dotnet_diagnostic.S4015.severity = error
dotnet_diagnostic.S4019.severity = error
dotnet_diagnostic.S4025.severity = error
dotnet_diagnostic.S4039.severity = error
dotnet_diagnostic.S4487.severity = error
dotnet_diagnostic.S4524.severity = error
dotnet_diagnostic.S4635.severity = error
dotnet_diagnostic.S5034.severity = error
dotnet_diagnostic.S927.severity = error
dotnet_diagnostic.S2245.severity = error
dotnet_diagnostic.S2257.severity = error
dotnet_diagnostic.S4502.severity = error
dotnet_diagnostic.S4784.severity = error
dotnet_diagnostic.S4787.severity = error
dotnet_diagnostic.S4790.severity = error
dotnet_diagnostic.S4792.severity = error
dotnet_diagnostic.S4818.severity = error
dotnet_diagnostic.S4823.severity = error
dotnet_diagnostic.S4829.severity = error
dotnet_diagnostic.S5042.severity = error
dotnet_diagnostic.S5332.severity = error
dotnet_diagnostic.S5443.severity = error
dotnet_diagnostic.S2053.severity = error
dotnet_diagnostic.S3329.severity = error
dotnet_diagnostic.S4423.severity = error
dotnet_diagnostic.S4426.severity = error
dotnet_diagnostic.S4433.severity = error
dotnet_diagnostic.S4830.severity = error
dotnet_diagnostic.S5445.severity = error
dotnet_diagnostic.S5542.severity = error
dotnet_diagnostic.S5547.severity = error
dotnet_diagnostic.S5659.severity = error

# "Major" rules
dotnet_diagnostic.S1244.severity = error
dotnet_diagnostic.S1656.severity = error
dotnet_diagnostic.S1751.severity = error
dotnet_diagnostic.S1764.severity = error
dotnet_diagnostic.S1848.severity = error
dotnet_diagnostic.S1862.severity = error
dotnet_diagnostic.S2114.severity = error
dotnet_diagnostic.S2123.severity = error
dotnet_diagnostic.S2201.severity = error
dotnet_diagnostic.S2225.severity = error
dotnet_diagnostic.S2251.severity = error
dotnet_diagnostic.S2252.severity = error
dotnet_diagnostic.S2259.severity = error
dotnet_diagnostic.S2445.severity = error
dotnet_diagnostic.S2583.severity = error
dotnet_diagnostic.S2688.severity = error
dotnet_diagnostic.S2757.severity = error
dotnet_diagnostic.S2761.severity = error
dotnet_diagnostic.S2995.severity = error
dotnet_diagnostic.S2996.severity = error
dotnet_diagnostic.S2997.severity = error
dotnet_diagnostic.S3005.severity = error
dotnet_diagnostic.S3168.severity = error
dotnet_diagnostic.S3172.severity = error
dotnet_diagnostic.S3244.severity = error
dotnet_diagnostic.S3249.severity = error
dotnet_diagnostic.S3263.severity = error
dotnet_diagnostic.S3343.severity = error
dotnet_diagnostic.S3346.severity = error
dotnet_diagnostic.S3453.severity = error
dotnet_diagnostic.S3466.severity = error
dotnet_diagnostic.S3598.severity = error
dotnet_diagnostic.S3603.severity = error
dotnet_diagnostic.S3610.severity = error
dotnet_diagnostic.S3655.severity = error
dotnet_diagnostic.S3903.severity = error
dotnet_diagnostic.S3923.severity = error
dotnet_diagnostic.S3926.severity = error
dotnet_diagnostic.S3927.severity = error
dotnet_diagnostic.S3949.severity = error
dotnet_diagnostic.S3981.severity = error
dotnet_diagnostic.S3984.severity = error
dotnet_diagnostic.S4143.severity = error
dotnet_diagnostic.S4210.severity = error
dotnet_diagnostic.S6507.severity = error
dotnet_diagnostic.S4428.severity = error
dotnet_diagnostic.S4260.severity = error
dotnet_diagnostic.S103.severity = error
dotnet_diagnostic.S104.severity = error
dotnet_diagnostic.S106.severity = error
dotnet_diagnostic.S1066.severity = error
dotnet_diagnostic.S107.severity = error
dotnet_diagnostic.S108.severity = error
# Don't use magic numbers
dotnet_diagnostic.S109.severity = warning
dotnet_diagnostic.S110.severity = error
dotnet_diagnostic.S1110.severity = error
dotnet_diagnostic.S1117.severity = error
dotnet_diagnostic.S1118.severity = error
dotnet_diagnostic.S112.severity = error
dotnet_diagnostic.S1121.severity = error
dotnet_diagnostic.S1123.severity = error
dotnet_diagnostic.S1134.severity = error
dotnet_diagnostic.S1144.severity = error
dotnet_diagnostic.S1151.severity = error
dotnet_diagnostic.S1168.severity = error
dotnet_diagnostic.S1172.severity = error
dotnet_diagnostic.S1200.severity = error
dotnet_diagnostic.S122.severity = error
# Remove commented out code
dotnet_diagnostic.S125.severity = warning
dotnet_diagnostic.S127.severity = error
dotnet_diagnostic.S138.severity = error
dotnet_diagnostic.S1479.severity = error
dotnet_diagnostic.S1607.severity = error
dotnet_diagnostic.S1696.severity = error
dotnet_diagnostic.S1854.severity = error
dotnet_diagnostic.S1871.severity = error
dotnet_diagnostic.S2166.severity = error
dotnet_diagnostic.S2234.severity = error
dotnet_diagnostic.S2326.severity = error
dotnet_diagnostic.S2327.severity = error
dotnet_diagnostic.S2357.severity = error
dotnet_diagnostic.S2372.severity = error
dotnet_diagnostic.S2376.severity = error
dotnet_diagnostic.S2436.severity = error
dotnet_diagnostic.S2589.severity = error
dotnet_diagnostic.S2681.severity = error
dotnet_diagnostic.S2743.severity = error
dotnet_diagnostic.S2925.severity = error
dotnet_diagnostic.S2933.severity = error
dotnet_diagnostic.S2971.severity = error
dotnet_diagnostic.S3010.severity = error
dotnet_diagnostic.S3011.severity = error
dotnet_diagnostic.S3059.severity = error
dotnet_diagnostic.S3063.severity = error
dotnet_diagnostic.S3169.severity = error
dotnet_diagnostic.S3246.severity = error
dotnet_diagnostic.S3262.severity = error
dotnet_diagnostic.S3264.severity = error
dotnet_diagnostic.S3358.severity = error
dotnet_diagnostic.S3366.severity = error
dotnet_diagnostic.S3415.severity = error
dotnet_diagnostic.S3431.severity = error
dotnet_diagnostic.S3442.severity = error
dotnet_diagnostic.S3445.severity = error
dotnet_diagnostic.S3457.severity = error
dotnet_diagnostic.S3597.severity = error
dotnet_diagnostic.S3880.severity = error
dotnet_diagnostic.S3881.severity = error
dotnet_diagnostic.S3885.severity = error
dotnet_diagnostic.S3898.severity = error
# Arguments of public methods should be validated against null
dotnet_diagnostic.S3900.severity = warning
dotnet_diagnostic.S3902.severity = error
dotnet_diagnostic.S3906.severity = error
dotnet_diagnostic.S3908.severity = error
dotnet_diagnostic.S3909.severity = error
# Implement ISerializable Correctly
dotnet_diagnostic.S3925.severity = warning
dotnet_diagnostic.S3928.severity = error
dotnet_diagnostic.S3956.severity = error
dotnet_diagnostic.S3966.severity = error
dotnet_diagnostic.S3971.severity = error
dotnet_diagnostic.S3990.severity = error
dotnet_diagnostic.S3992.severity = error
dotnet_diagnostic.S3993.severity = error
dotnet_diagnostic.S3994.severity = error
dotnet_diagnostic.S3995.severity = error
dotnet_diagnostic.S3996.severity = error
dotnet_diagnostic.S3997.severity = error
dotnet_diagnostic.S4002.severity = error
dotnet_diagnostic.S4004.severity = error
dotnet_diagnostic.S4005.severity = error
dotnet_diagnostic.S4016.severity = error
dotnet_diagnostic.S4017.severity = error
dotnet_diagnostic.S4035.severity = error
dotnet_diagnostic.S4050.severity = error
# Literals should not be passed as localized parameters
dotnet_diagnostic.S4055.severity = warning
dotnet_diagnostic.S4057.severity = error
dotnet_diagnostic.S4059.severity = error
dotnet_diagnostic.S4070.severity = error
dotnet_diagnostic.S4144.severity = error
dotnet_diagnostic.S4200.severity = error
dotnet_diagnostic.S4214.severity = error
dotnet_diagnostic.S4220.severity = error
dotnet_diagnostic.S4456.severity = error
dotnet_diagnostic.S4457.severity = error
dotnet_diagnostic.S4545.severity = error
dotnet_diagnostic.S4581.severity = error
dotnet_diagnostic.S6354.severity = error
dotnet_diagnostic.S6419.severity = error
dotnet_diagnostic.S6420.severity = error
dotnet_diagnostic.S6421.severity = error
dotnet_diagnostic.S6423.severity = error
dotnet_diagnostic.S6561.severity = error
dotnet_diagnostic.S6562.severity = error
dotnet_diagnostic.S6563.severity = error
dotnet_diagnostic.S6566.severity = error
dotnet_diagnostic.S6575.severity = error
dotnet_diagnostic.S6580.severity = error
dotnet_diagnostic.S881.severity = error
dotnet_diagnostic.S907.severity = error
dotnet_diagnostic.S5773.severity = error
dotnet_diagnostic.S4564.severity = error
dotnet_diagnostic.S4212.severity = error
dotnet_diagnostic.S4211.severity = error
dotnet_diagnostic.S6640.severity = error
dotnet_diagnostic.S6444.severity = error
dotnet_diagnostic.S5766.severity = error
dotnet_diagnostic.S5753.severity = error
dotnet_diagnostic.S5693.severity = error
dotnet_diagnostic.S2612.severity = error
dotnet_diagnostic.S2077.severity = error
dotnet_diagnostic.S1313.severity = error
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:suggestion
csharp_style_namespace_declarations = file_scoped:error
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_constructors = true:suggestion
csharp_style_expression_bodied_operators = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_lambdas = true:suggestion
csharp_style_expression_bodied_local_functions = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_prefer_static_local_function = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_prefer_readonly_struct_member = true:suggestion
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:silent
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:silent
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning
[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_readonly_field = true:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_style_allow_multiple_blank_lines_experimental = true:suggestion
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_code_quality_unused_parameters = all:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
